.home {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  background-color: #0f0f0f;
}

.left-side {
  height: 100%;
  position: relative;

  img {
    max-height: 100%;
  }

  .promo {
    position: absolute;
    top: 100px;
    left: 50px;
    z-index: 10;
    width: 400px;

    h1 {
      color: white;
      font-size: 38px;
      font-weight: bold;
      line-height: 55px;
      margin-bottom: 30px;
    }

    p {
      color: white;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
